<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!--
    <meta name="description" content="FubuMVC, a wrist-friendly .NET-based web MVC framework built for us, by us with an emphasis on DRY, composition vs. inheritance, SOLID principles, testability, pluggability, and conventional configuration.">
    <meta name="keywords" content="mvc, asp, solid, fubumvc, fluent interface, method chaining, static reflection" />
    -->
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body style="margin: 0; padding:0;">
    <div id="main">
    
    {{ content }}
    
    <p class="copy">DotConsole is &copy; 2011 <a href="http://www.zduck.com">Joshua Poehls</a>
     under the <a href="https://github.com/jpoehls/dotconsole/blob/master/license.txt">MIT license</a>.
    </p>
     
    <p class="copy">This website design was strongly inspired by<br/> but is in no way affiliated with  <a href="http://www.fubumvc.com">FubuMVC</a>.</p>
   
    <br />     
    </div>
  </body>
</html>
